
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>JQUERY</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {


            $('#buttonDemo1').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/product/demo1',
                    success: function (result) {
                        $('#result1').html(result);
                    }
                });
            });




            $('#buttonDemo2').click(function () {
                var name = $('#name').val();
                $.ajax({
                    type: 'GET',
                    url: '/product/demo2/',
                    success: function (result) {
                        alert(result + name);
                    }
                });
            });


            $('#buttonDemo3').click(function () {

                $.ajax({
                    type: 'GET',
                    url: '/product/demo3',
                    success: function (result) {
                        var s = '';
                       for (var i = 0; i < 4; i++)
                       {
                        s += '<br>Id :' +result[i].id;
                        s += '<br> Name :' +result[i].name;
                            s+= '<br> Price :' +result[i].price;
                      }

                        $('#result3').html(result.s);
                    }
                });
            });




        });



    </script>
</head>
<body>
    <legend>
        <input type="button" value="Demo1" id="buttonDemo1" /><br />

        <span id="result1"></span>
    </legend>
    

    <br />
    <legend>

        Enter your name : <input type="text" id="name" />

        <input type="button" value="Demo2" id="buttonDemo2" />
        <br />
        <span id="result2"></span>
    </legend>
        <br />

        <legend>
            <input type="button" value="Demo3" id="buttonDemo3" /><br />

            <span id="result3"></span>
            </legend>
                <br />
</body>
</html>
